parking-frontend/
parking-backend/.idea/.gitignore
parking-backend/.idea/compiler.xml
parking-backend/.idea/encodings.xml
parking-backend/.idea/jarRepositories.xml
parking-backend/.idea/misc.xml
parking-backend/.idea/vcs.xml
parking-backend/target/parking-backend-0.0.1-SNAPSHOT.jar
parking-backend/target/parking-backend-0.0.1-SNAPSHOT.jar.original
parking-backend/target/classes/application.properties
parking-backend/target/classes/data.sql
parking-backend/target/classes/schema.sql
parking-backend/target/classes/com/example/parkingbackend/ParkingBackendApplication.class
parking-backend/target/classes/com/smartoff/parking/controller/ParkingController.class
parking-backend/target/classes/com/smartoff/parking/data/ParkingRowRepository.class
parking-backend/target/classes/com/smartoff/parking/data/ParkingSlotRepository.class
parking-backend/target/classes/com/smartoff/parking/model/ParkingRow.class
parking-backend/target/classes/com/smartoff/parking/model/ParkingSlot.class
parking-backend/target/classes/com/smartoff/parking/model/SlotStatus.class
parking-backend/target/classes/com/smartoff/parking/model/VehicleType.class
parking-backend/target/classes/com/smartoff/parking/service/ParkingService.class
parking-backend/target/maven-archiver/pom.properties
parking-backend/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
parking-backend/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
